{% extends "base_generic.html" %}

{% block content %}

<div class="container">
    <div class="row">
      <div class="col-sm-1">
        <a href="{% url "home" %}"> <i class="fa-solid fa-arrow-left fa-3x"></i></a>
      </div>
      <div class="col-sm-10">
        <div class="row" style="line-height: 0.5">
          <p class="profile_name" style="padding-top: 5px">
            {{ useraccount.user }}</p>
          <p> {{ useraccount.post_set.count }} posts </p>
        </div>
      </div>
    </div>
</div>

<br>

<i class="fa-regular fa-circle-user fas fa-camera fa-8x"></i>
<h4><strong> {{ useraccount.user }} </strong></h4>
<h6> &nbsp; @{{ useraccount.user }} </h6>

<br>

<p> {{ useraccount.bio }} </p>



<hr>

<h4><strong> Posts </h4></strong>

{% for post in useraccount.post_set.all %}
{% comment %} REVERSE RELATION - getting all data/attributes of each Post by UserAccount {% endcomment %}

<div class="card" style="margin-top: 10px">
    <div class="card-body">
        <a href="{{ useraccount.get_absolute_url }}"> <h5 class="card-title profile_name">
            <i class="fa-solid fa-circle-user"></i> &nbsp; {{post.useraccount}}</h5></a>
        <p class="card-text post_date">{{post.post_date}}</p>
        <p class="card-text post_caption">{{post.caption}}</p>
        <a href="{% url 'post_detail' post.pk %}" style='font-size: 20px; width: 100%'>
            <button type="button" class="btn btn-secondary dropdown-toggle">More Details</button></a>
    </div>
</div>

{% endfor %}

{% endblock content %}