{% extends "base_generic.html" %}

{% block content %}
    {% if form.errors %}
    <p>Your Username and Password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your Account doesn't have access to this page.
               To proceed, please Login with an account that has access.</p>
        
        {% else %}
            <p>Please Login to see this page.</p>
        {% endif %}

    {% endif %}

    <div class="container">
        <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" required>
          </div>
          <br>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
          </div>
          <br>
          <button type="submit" class="btn btn-secondary">Login</button> &nbsp; <a href="{% url "password_reset" %}">Forgot your password?</a>

          <input type="hidden" name="next" value="{{next}}">
        </form>
      </div>

{% endblock content %}