body {
    padding-top: 70px;  /* Add Padding to avoid having content wrap under NavBar*/
}

.kanit-bold {
    font-family: "Kanit", sans-serif;
    font-style: normal;
    font-size: 14pt;
  }

.inter-bodyfont {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

.sidebar-nav {
    position: fixed;
}

.hr{
    width: 100%;
}

.container {
    width: 100%;
    margin: 0;
    padding: 0;
 
}

.nav-link {
    color: black;
}

.profile_name {
    font-size: 25px;
    font-weight: bold;
}

.post_date {
    font-size: 14px;
    font-style: italic;
}

.post_caption {
    font-size: 20px;
}

.dropdown-toggle {
    width: 100%;
}

a { 
    text-decoration: none;
    color: inherit;
} 

a:hover { 
    text-decoration: none;
}